# env
.env

# contracts
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/foundry.lock

# sui
sui/build/
sui/lz-receiver/build/
sui/lz-receiver/Published.toml

# dependencies
node_modules/
relayer/node_modules/
relayer/dist/

# misc
.DS_Store
