[submodule "contracts/evm/lib/forge-std"]
	path = contracts/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/evm/lib/LayerZero-v2"]
	path = contracts/evm/lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
[submodule "contracts/evm/lib/openzeppelin-contracts"]
	path = contracts/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
